In [0]:
# Create Dataframe
# withColumn
# withCoulmnRenamed
# select
# groupby
# orderby
# joins
# window partition
# filter
# substring
# dropDuplicates
# drop columns
# union
# collect
# transalate or regexp_replace
# when otherwise
# fill na

In [0]:
import pyspark
from pyspark.sql import SparkSession 
from pyspark.sql.functions import *

In [0]:

data = [('James','','Smith','1991-04-01','M',3000),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]

columns = ["firstname","middlename","lastname","dob","gender","salary"]
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
df = spark.createDataFrame(data=data, schema = columns)

In [0]:
display(df)

firstname,middlename,lastname,dob,gender,salary
James,,Smith,1991-04-01,M,3000
Michael,Rose,,2000-05-19,M,4000
Robert,,Williams,1978-09-05,M,4000
Maria,Anne,Jones,1967-12-01,F,4000
Jen,Mary,Brown,1980-02-17,F,-1

Select columns

In [0]:
df1=df.select("middlename")
display(df1)

middlename
""
Rose
""
Anne
Mary

In [0]:
df2=df.select(["middlename","lastname"])
display(df2)

middlename,lastname
,Smith
Rose,
,Williams
Anne,Jones
Mary,Brown

withCoulmnRenamed

In [0]:
df3=df.withColumnRenamed("middlename","Middlename")
display(df3)

firstname,Middlename,lastname,dob,gender,salary
James,,Smith,1991-04-01,M,3000
Michael,Rose,,2000-05-19,M,4000
Robert,,Williams,1978-09-05,M,4000
Maria,Anne,Jones,1967-12-01,F,4000
Jen,Mary,Brown,1980-02-17,F,-1

In [0]:
df4=df.orderBy(df.salary.asc())
display(df4)

firstname,middlename,lastname,dob,gender,salary
Jen,Mary,Brown,1980-02-17,F,-1
James,,Smith,1991-04-01,M,3000
Robert,,Williams,1978-09-05,M,4000
Maria,Anne,Jones,1967-12-01,F,4000
Michael,Rose,,2000-05-19,M,4000

In [0]:
df5=df.orderBy(df.salary.desc())
display(df5)

firstname,middlename,lastname,dob,gender,salary
Maria,Anne,Jones,1967-12-01,F,4000
Michael,Rose,,2000-05-19,M,4000
Robert,,Williams,1978-09-05,M,4000
James,,Smith,1991-04-01,M,3000
Jen,Mary,Brown,1980-02-17,F,-1

Groupby

In [0]:
df6=df.groupBy("gender").sum("salary")
display(df6)

gender,sum(salary)
M,11000
F,3999

Filter

In [0]:
df7=df.filter(df.salary >=3000)  >=,<=,==,&,||,!
display(df7)

firstname,middlename,lastname,dob,gender,salary
James,,Smith,1991-04-01,M,3000
Michael,Rose,,2000-05-19,M,4000
Robert,,Williams,1978-09-05,M,4000
Maria,Anne,Jones,1967-12-01,F,4000

Substring

In [0]:
df8=df.withColumn("Year",substring(df.dob,0,4))
display(df8)

firstname,middlename,lastname,dob,gender,salary,Year
James,,Smith,1991-04-01,M,3000,1991
Michael,Rose,,2000-05-19,M,4000,2000
Robert,,Williams,1978-09-05,M,4000,1978
Maria,Anne,Jones,1967-12-01,F,4000,1967
Jen,Mary,Brown,1980-02-17,F,-1,1980

Drop

In [0]:
df9=df.drop("salary")
display(df9)

firstname,middlename,lastname,dob,gender
James,,Smith,1991-04-01,M
Michael,Rose,,2000-05-19,M
Robert,,Williams,1978-09-05,M
Maria,Anne,Jones,1967-12-01,F
Jen,Mary,Brown,1980-02-17,F

dropduplicates

In [0]:
df10=df.dropDuplicates()
display(df10)

firstname,middlename,lastname,dob,gender,salary
James,,Smith,1991-04-01,M,3000
Michael,Rose,,2000-05-19,M,4000
Robert,,Williams,1978-09-05,M,4000
Maria,Anne,Jones,1967-12-01,F,4000
Jen,Mary,Brown,1980-02-17,F,-1

Collect

In [0]:
for i in df.collect():
  print(i)

Row(firstname='James', middlename='', lastname='Smith', dob='1991-04-01', gender='M', salary=3000)
Row(firstname='Michael', middlename='Rose', lastname='', dob='2000-05-19', gender='M', salary=4000)
Row(firstname='Robert', middlename='', lastname='Williams', dob='1978-09-05', gender='M', salary=4000)
Row(firstname='Maria', middlename='Anne', lastname='Jones', dob='1967-12-01', gender='F', salary=4000)
Row(firstname='Jen', middlename='Mary', lastname='Brown', dob='1980-02-17', gender='F', salary=-1)

In [0]:
for i in df.collect()[0]:
  print(i)

James

Smith
1991-04-01
M
3000

In [0]:
for i in df.collect():
  print(i[0])

James
Michael
Robert
Maria
Jen

regexp_replace/transalate

In [0]:
df11=df.withColumn("dob",regexp_replace("dob","-","/"))
display(df11)

firstname,middlename,lastname,dob,gender,salary
James,,Smith,1991/04/01,M,3000
Michael,Rose,,2000/05/19,M,4000
Robert,,Williams,1978/09/05,M,4000
Maria,Anne,Jones,1967/12/01,F,4000
Jen,Mary,Brown,1980/02/17,F,-1

In [0]:
# if table conatins null value means it replace with 0
display(df.na.fill(value=0))
# display(df12)

firstname,middlename,lastname,dob,gender,salary
James,,Smith,1991-04-01,M,3000
Michael,Rose,,2000-05-19,M,4000
Robert,,Williams,1978-09-05,M,4000
Maria,Anne,Jones,1967-12-01,F,4000
Jen,Mary,Brown,1980-02-17,F,-1

whenotherwise

In [0]:
df12=df.withColumn("gender",when(df.gender=="M","Male")
                               .when(df.gender=="F","Female")
                                .otherwise(df.gender))
display(df12)

firstname,middlename,lastname,dob,gender,salary
James,,Smith,1991-04-01,Male,3000
Michael,Rose,,2000-05-19,Male,4000
Robert,,Williams,1978-09-05,Male,4000
Maria,Anne,Jones,1967-12-01,Female,4000
Jen,Mary,Brown,1980-02-17,Female,-1

Joinsinner,left,right,outer

In [0]:
emp = [(1,"Smith",-1,"2018","10","M",3000), \
    (2,"Rose",1,"2010","20","M",4000), \
    (3,"Williams",1,"2010","10","M",1000), \
    (4,"Jones",2,"2005","10","F",2000), \
    (5,"Brown",2,"2010","40","",-1), \
      (6,"Brown",2,"2010","50","",-1) \
  ]
empColumns = ["emp_id","name","superior_emp_id","year_joined", \
       "emp_dept_id","gender","salary"]

empDF = spark.createDataFrame(data=emp, schema = empColumns)
empDF.printSchema()
empDF.show(truncate=False)

dept = [("Finance",10), \
    ("Marketing",20), \
    ("Sales",30), \
    ("IT",40) \
  ]
deptColumns = ["dept_name","dept_id"]
deptDF = spark.createDataFrame(data=dept, schema = deptColumns)
deptDF.printSchema()
deptDF.show(truncate=False)

root
 |-- emp_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- superior_emp_id: long (nullable = true)
 |-- year_joined: string (nullable = true)
 |-- emp_dept_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |
|2     |Rose    |1              |2010       |20         |M     |4000  |
|3     |Williams|1              |2010       |10         |M     |1000  |
|4     |Jones   |2              |2005       |10         |F     |2000  |
|5     |Brown   |2              |2010       |40         |      |-1    |
|6     |Brown   |2              |2010       |50         |      |-1    |
+------+--------+---------------+-----------+-----------+------+------+

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|Finance  |10     |
|Marketing|20     |
|Sales    |30     |
|IT       |40     |
+---------+-------+

In [0]:
display(empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"inner"))

emp_id,name,superior_emp_id,year_joined,emp_dept_id,gender,salary,dept_name,dept_id
1,Smith,-1,2018,10,M,3000,Finance,10
3,Williams,1,2010,10,M,1000,Finance,10
4,Jones,2,2005,10,F,2000,Finance,10
2,Rose,1,2010,20,M,4000,Marketing,20
5,Brown,2,2010,40,,-1,IT,40

In [0]:
display(empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"left"))

emp_id,name,superior_emp_id,year_joined,emp_dept_id,gender,salary,dept_name,dept_id
1,Smith,-1,2018,10,M,3000,Finance,10
3,Williams,1,2010,10,M,1000,Finance,10
4,Jones,2,2005,10,F,2000,Finance,10
2,Rose,1,2010,20,M,4000,Marketing,20
5,Brown,2,2010,40,,-1,IT,40
6,Brown,2,2010,50,,-1,null,null

In [0]:
display(empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"right"))

emp_id,name,superior_emp_id,year_joined,emp_dept_id,gender,salary,dept_name,dept_id
1,Smith,-1,2018,10,M,3000,Finance,10
3,Williams,1,2010,10,M,1000,Finance,10
4,Jones,2,2005,10,F,2000,Finance,10
2,Rose,1,2010,20,M,4000,Marketing,20
null,null,null,null,null,null,null,Sales,30
5,Brown,2,2010,40,,-1,IT,40

In [0]:
display(empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"outer"))

emp_id,name,superior_emp_id,year_joined,emp_dept_id,gender,salary,dept_name,dept_id
1,Smith,-1,2018,10,M,3000,Finance,10
3,Williams,1,2010,10,M,1000,Finance,10
4,Jones,2,2005,10,F,2000,Finance,10
2,Rose,1,2010,20,M,4000,Marketing,20
null,null,null,null,null,null,null,Sales,30
5,Brown,2,2010,40,,-1,IT,40
6,Brown,2,2010,50,,-1,null,null

Union

In [0]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

simpleData = [("James","Sales","NY",90000,34,10000), \
    ("Michael","Sales","NY",86000,56,20000), \
    ("Robert","Sales","CA",81000,30,23000), \
    ("Maria","Finance","CA",90000,24,23000) \
  ]

columns= ["employee_name","department","state","salary","age","bonus"]
df14 = spark.createDataFrame(data = simpleData, schema = columns)
df14.printSchema()
df14.show(truncate=False)


simpleData2 = [("James","Sales","NY",90000,34,10000), \
    ("Maria","Finance","CA",90000,24,23000), \
    ("Jen","Finance","NY",79000,53,15000), \
    ("Jeff","Marketing","CA",80000,25,18000), \
    ("Kumar","Marketing","NY",91000,50,21000) \
  ]
columns2= ["employee_name","department","state","salary","age","bonus"]

df15= spark.createDataFrame(data = simpleData2, schema = columns2)

df15.printSchema()
df15.show(truncate=False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|Maria        |Finance   |CA   |90000 |24 |23000|
+-------------+----------+-----+------+---+-----+

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|James        |Sales     |NY   |90000 |34 |10000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
+-------------+----------+-----+------+---+-----+

In [0]:
display(df14.union(df15))

employee_name,department,state,salary,age,bonus
James,Sales,NY,90000,34,10000
Michael,Sales,NY,86000,56,20000
Robert,Sales,CA,81000,30,23000
Maria,Finance,CA,90000,24,23000
James,Sales,NY,90000,34,10000
Maria,Finance,CA,90000,24,23000
Jen,Finance,NY,79000,53,15000
Jeff,Marketing,CA,80000,25,18000
Kumar,Marketing,NY,91000,50,21000

Window partition

In [0]:
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

simpleData = (("James", "Sales", 3000), \
    ("Michael", "Sales", 4600),  \
    ("Robert", "Sales", 4100),   \
    ("Maria", "Finance", 3000),  \
    ("James", "Sales", 3000),    \
    ("Scott", "Finance", 3300),  \
    ("Jen", "Finance", 3900),    \
    ("Jeff", "Marketing", 3000), \
    ("Kumar", "Marketing", 2000),\
    ("Saif", "Sales", 4100) \
  )
 
columns= ["employee_name", "department", "salary"]
df16= spark.createDataFrame(data = simpleData, schema = columns)
df16.printSchema()
df16.show(truncate=False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Michael      |Sales     |4600  |
|Robert       |Sales     |4100  |
|Maria        |Finance   |3000  |
|James        |Sales     |3000  |
|Scott        |Finance   |3300  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sales     |4100  |
+-------------+----------+------+

In [0]:

from pyspark.sql.window import Window
from pyspark.sql.functions import row_number
windowSpec  = Window.partitionBy("department").orderBy("salary")

display(df16.withColumn("row_number",row_number().over(windowSpec)))

employee_name,department,salary,row_number
Maria,Finance,3000,1
Scott,Finance,3300,2
Jen,Finance,3900,3
Kumar,Marketing,2000,1
Jeff,Marketing,3000,2
James,Sales,3000,1
James,Sales,3000,2
Robert,Sales,4100,3
Saif,Sales,4100,4
Michael,Sales,4600,5

In [0]:
display(df16.withColumn("rank",rank().over(windowSpec)))

employee_name,department,salary,rank
Maria,Finance,3000,1
Scott,Finance,3300,2
Jen,Finance,3900,3
Kumar,Marketing,2000,1
Jeff,Marketing,3000,2
James,Sales,3000,1
James,Sales,3000,1
Robert,Sales,4100,3
Saif,Sales,4100,3
Michael,Sales,4600,5

In [0]:
display(df16.withColumn("dense_rank",dense_rank().over(windowSpec)))

employee_name,department,salary,dense_rank
Maria,Finance,3000,1
Scott,Finance,3300,2
Jen,Finance,3900,3
Kumar,Marketing,2000,1
Jeff,Marketing,3000,2
James,Sales,3000,1
James,Sales,3000,1
Robert,Sales,4100,2
Saif,Sales,4100,2
Michael,Sales,4600,3